In [1]:
from __future__ import division, print_function, unicode_literals

%matplotlib inline
import matplotlib.pyplot as plt
import pylab as pl
from matplotlib.colors import ListedColormap
import seaborn as sns

import csv
import pandas as pd
import numpy as np  
from io import StringIO
from urllib import request

import warnings

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, KFold, cross_val_score 
from sklearn.linear_model import LogisticRegression 
from sklearn import neighbors, datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import learning_curve 
from sklearn.model_selection import ShuffleSplit
from sklearn import linear_model
from sklearn.model_selection import validation_curve
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn import preprocessing

np.random.seed(42)

In [2]:
#Import Data
df= pd.read_csv("/Users/stansonwu/Downloads/ISOM 672/Project/archive/bank-additional-full.csv", header=None, sep=';')
data = df.iloc[1:,:]
data.columns = ['age','job','marital','education','default','housing','loan','contact','month','day of week','duration', 'campaign', 'pdays','previous','poutcome','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed','term deposit subscription']
print(data)

      age          job  marital            education  default housing loan  \
1      56    housemaid  married             basic.4y       no      no   no
2      57     services  married          high.school  unknown      no   no
3      37     services  married          high.school       no     yes   no
4      40       admin.  married             basic.6y       no      no   no
5      56     services  married          high.school       no      no  yes
...    ..          ...      ...                  ...      ...     ...  ...
41184  73      retired  married  professional.course       no     yes   no
41185  46  blue-collar  married  professional.course       no      no   no
41186  56      retired  married    university.degree       no     yes   no
41187  44   technician  married  professional.course       no      no   no
41188  74      retired  married  professional.course       no     yes   no

         contact month day of week  ... campaign pdays previous     poutcome  \
1      telephone   may         mon  ...        1   999        0  nonexistent
2      telephone   may         mon  ...        1   999        0  nonexistent
3      telephone   may         mon  ...        1   999        0  nonexistent
4      telephone   may         mon  ...        1   999        0  nonexistent
5      telephone   may         mon  ...        1   999        0  nonexistent
...          ...   ...         ...  ...      ...   ...      ...          ...
41184   cellular   nov         fri  ...        1   999        0  nonexistent
41185   cellular   nov         fri  ...        1   999        0  nonexistent
41186   cellular   nov         fri  ...        2   999        0  nonexistent
41187   cellular   nov         fri  ...        1   999        0  nonexistent
41188   cellular   nov         fri  ...        3   999        1      failure

      emp.var.rate cons.price.idx cons.conf.idx euribor3m nr.employed  \
1              1.1         93.994         -36.4     4.857        5191
2              1.1         93.994         -36.4     4.857        5191
3              1.1         93.994         -36.4     4.857        5191
4              1.1         93.994         -36.4     4.857        5191
5              1.1         93.994         -36.4     4.857        5191
...            ...            ...           ...       ...         ...
41184         -1.1         94.767         -50.8     1.028      4963.6
41185         -1.1         94.767         -50.8     1.028      4963.6
41186         -1.1         94.767         -50.8     1.028      4963.6
41187         -1.1         94.767         -50.8     1.028      4963.6
41188         -1.1         94.767         -50.8     1.028      4963.6

      term deposit subscription
1                            no
2                            no
3                            no
4                            no
5                            no
...                         ...
41184                       yes
41185                        no
41186                        no
41187                       yes
41188                        no

[41188 rows x 21 columns]

/Users/stansonwu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,10,11,12,13,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#Data Cleaning

data = data.astype({'age': np.float, 'duration': np.float, 'campaign': np.float, 'pdays': np.float, 'previous': np.float, 'emp.var.rate': np.float, 'cons.price.idx': np.float, 'cons.conf.idx': np.float, 'euribor3m': np.float, 'nr.employed': np.float})

for a in data.columns:
    b = data[a].unique()
    print(a)
    print(b)

age
[56. 57. 37. 40. 45. 59. 41. 24. 25. 29. 35. 54. 46. 50. 39. 30. 55. 49.
 34. 52. 58. 32. 38. 44. 42. 60. 53. 47. 51. 48. 33. 31. 43. 36. 28. 27.
 26. 22. 23. 20. 21. 61. 19. 18. 70. 66. 76. 67. 73. 88. 95. 77. 68. 75.
 63. 80. 62. 65. 72. 82. 64. 71. 69. 78. 85. 79. 83. 81. 74. 17. 87. 91.
 86. 98. 94. 84. 92. 89.]
job
['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']
marital
['married' 'single' 'divorced' 'unknown']
education
['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']
default
['no' 'unknown' 'yes']
housing
['no' 'yes' 'unknown']
loan
['no' 'yes' 'unknown']
contact
['telephone' 'cellular']
month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']
day of week
['mon' 'tue' 'wed' 'thu' 'fri']
duration
[ 261.  149.  226. ... 1246. 1556. 1868.]
campaign
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 19. 18. 23. 14. 22.
 25. 16. 17. 15. 20. 56. 39. 35. 42. 28. 26. 27. 32. 21. 24. 29. 31. 30.
 41. 37. 40. 33. 34. 43.]
pdays
[999.   6.   4.   3.   5.   1.   0.  10.   7.   8.   9.  11.   2.  12.
  13.  14.  15.  16.  21.  17.  18.  22.  25.  26.  19.  27.  20.]
previous
[0. 1. 2. 3. 4. 5. 6. 7.]
poutcome
['nonexistent' 'failure' 'success']
emp.var.rate
[ 1.1  1.4 -0.1 -0.2 -1.8 -2.9 -3.4 -3.  -1.7 -1.1]
cons.price.idx
[93.994 94.465 93.918 93.444 93.798 93.2   92.756 92.843 93.075 92.893
 92.893 92.963 92.469 92.201 92.379 92.431 92.649 92.713 93.369 93.749
 93.876 94.055 94.215 94.027 94.199 94.601 94.767]
cons.conf.idx
[-36.4 -41.8 -42.7 -36.1 -40.4 -42.  -45.9 -50.  -47.1 -46.2 -40.8 -33.6
 -31.4 -29.8 -26.9 -30.1 -33.  -34.8 -34.6 -40.  -39.8 -40.3 -38.3 -37.5
 -49.5 -50.8]
euribor3m
[4.857 4.856 4.855 4.859 4.86  4.858 4.864 4.865 4.866 4.967 4.961 4.959
 4.958 4.96  4.962 4.955 4.947 4.956 4.966 4.963 4.957 4.968 4.97  4.965
 4.964 5.045 5.    4.936 4.921 4.918 4.912 4.827 4.794 4.76  4.733 4.7
 4.663 4.592 4.474 4.406 4.343 4.286 4.245 4.223 4.191 4.153 4.12  4.076
 4.021 3.901 3.879 3.853 3.816 3.743 3.669 3.563 3.488 3.428 3.329 3.282
 3.053 1.811 1.799 1.778 1.757 1.726 1.703 1.687 1.663 1.65  1.64  1.629
 1.614 1.602 1.584 1.574 1.56  1.556 1.548 1.538 1.531 1.52  1.51  1.498
 1.483 1.479 1.466 1.453 1.445 1.435 1.423 1.415 1.41  1.405 1.406 1.4
 1.392 1.384 1.372 1.365 1.354 1.344 1.334 1.327 1.313 1.299 1.299 1.291
 1.281 1.266 1.25  1.244 1.259 1.264 1.27  1.262 1.26  1.268 1.286 1.252
 1.235 1.224 1.215 1.206 1.099 1.085 1.072 1.059 1.048 1.044 1.029 1.018
 1.007 0.996 0.979 0.969 0.944 0.937 0.933 0.927 0.921 0.914 0.908 0.903
 0.899 0.884 0.883 0.881 0.879 0.873 0.869 0.861 0.859 0.854 0.851 0.849
 0.843 0.838 0.834 0.829 0.825 0.821 0.819 0.813 0.809 0.803 0.797 0.788
 0.781 0.778 0.773 0.771 0.77  0.768 0.766 0.762 0.755 0.749 0.743 0.741
 0.739 0.75  0.753 0.754 0.752 0.744 0.74  0.742 0.737 0.735 0.733 0.73
 0.731 0.728 0.724 0.722 0.72  0.719 0.716 0.715 0.714 0.718 0.721 0.717
 0.712 0.71  0.709 0.708 0.706 0.707 0.7   0.655 0.654 0.653 0.652 0.651
 0.65  0.649 0.646 0.644 0.643 0.639 0.637 0.635 0.636 0.634 0.638 0.64
 0.642 0.645 0.659 0.663 0.668 0.672 0.677 0.682 0.683 0.684 0.685 0.688
 0.69  0.692 0.695 0.697 0.699 0.701 0.702 0.704 0.711 0.713 0.723 0.727
 0.729 0.732 0.748 0.761 0.767 0.782 0.79  0.793 0.802 0.81  0.822 0.827
 0.835 0.84  0.846 0.87  0.876 0.885 0.889 0.893 0.896 0.898 0.9   0.904
 0.905 0.895 0.894 0.891 0.89  0.888 0.886 0.882 0.88  0.878 0.877 0.942
 0.953 0.956 0.959 0.965 0.972 0.977 0.982 0.985 0.987 0.993 1.    1.008
 1.016 1.025 1.032 1.037 1.043 1.045 1.047 1.05  1.049 1.046 1.041 1.04
 1.039 1.035 1.03  1.031 1.028]
nr.employed
[5191.  5228.1 5195.8 5176.3 5099.1 5076.2 5017.5 5023.5 5008.7 4991.6
 4963.6]
term deposit subscription
['no' 'yes']

In [5]:
#Create dummy variables
categorical_data = data.drop('age',axis=1).drop('duration',axis=1).drop('term deposit subscription',axis=1).drop('campaign',axis=1).drop('pdays',axis=1).drop('previous',axis=1).drop('emp.var.rate',axis=1).drop('cons.price.idx',axis=1).drop('cons.conf.idx',axis=1).drop('euribor3m',axis=1).drop('nr.employed',axis=1)

dummy = pd.get_dummies(categorical_data)

       job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  \
1               0                0                 0              1
2               0                0                 0              0
3               0                0                 0              0
4               1                0                 0              0
5               0                0                 0              0
...           ...              ...               ...            ...
41184           0                0                 0              0
41185           0                1                 0              0
41186           0                0                 0              0
41187           0                0                 0              0
41188           0                0                 0              0

       job_management  job_retired  job_self-employed  job_services  \
1                   0            0                  0             0
2                   0            0                  0             1
3                   0            0                  0             1
4                   0            0                  0             0
5                   0            0                  0             1
...               ...          ...                ...           ...
41184               0            1                  0             0
41185               0            0                  0             0
41186               0            1                  0             0
41187               0            0                  0             0
41188               0            1                  0             0

       job_student  job_technician  ...  month_oct  month_sep  \
1                0               0  ...          0          0
2                0               0  ...          0          0
3                0               0  ...          0          0
4                0               0  ...          0          0
5                0               0  ...          0          0
...            ...             ...  ...        ...        ...
41184            0               0  ...          0          0
41185            0               0  ...          0          0
41186            0               0  ...          0          0
41187            0               1  ...          0          0
41188            0               0  ...          0          0

       day of week_fri  day of week_mon  day of week_thu  day of week_tue  \
1                    0                1                0                0
2                    0                1                0                0
3                    0                1                0                0
4                    0                1                0                0
5                    0                1                0                0
...                ...              ...              ...              ...
41184                1                0                0                0
41185                1                0                0                0
41186                1                0                0                0
41187                1                0                0                0
41188                1                0                0                0

       day of week_wed  poutcome_failure  poutcome_nonexistent  \
1                    0                 0                     1
2                    0                 0                     1
3                    0                 0                     1
4                    0                 0                     1
5                    0                 0                     1
...                ...               ...                   ...
41184                0                 0                     1
41185                0                 0                     1
41186                0                 0                     1
41187                0                 0                     1
41188                0                 1                     0

       poutcome_success
1                     0
2                     0
3                     0
4                     0
5                     0
...                 ...
41184                 0
41185                 0
41186                 0
41187                 0
41188                 0

[41188 rows x 53 columns]

In [6]:
#Add back numeric variables with dummies variables and turn the target variable into binary variable
dummy['age'] = data['age']
dummy['duration'] = data['duration']
dummy['campaign'] = data['campaign']
dummy['pdays'] = data['pdays']
dummy['previous'] = data['previous']
dummy['emp.var.rate'] = data['emp.var.rate']
dummy['cons.price.idx'] = data['cons.price.idx']
dummy['cons.conf.idx'] = data['cons.conf.idx']
dummy['euribor3m'] = data['euribor3m']
dummy['nr.employed'] = data['nr.employed']

le = preprocessing.LabelEncoder()

le.fit(data['term deposit subscription'])
dummy['term deposit subscription'] = le.transform(data['term deposit subscription'])

print(dummy)

       job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  \
1               0                0                 0              1
2               0                0                 0              0
3               0                0                 0              0
4               1                0                 0              0
5               0                0                 0              0
...           ...              ...               ...            ...
41184           0                0                 0              0
41185           0                1                 0              0
41186           0                0                 0              0
41187           0                0                 0              0
41188           0                0                 0              0

       job_management  job_retired  job_self-employed  job_services  \
1                   0            0                  0             0
2                   0            0                  0             1
3                   0            0                  0             1
4                   0            0                  0             0
5                   0            0                  0             1
...               ...          ...                ...           ...
41184               0            1                  0             0
41185               0            0                  0             0
41186               0            1                  0             0
41187               0            0                  0             0
41188               0            1                  0             0

       job_student  job_technician  ...  duration  campaign  pdays  previous  \
1                0               0  ...     261.0       1.0  999.0       0.0
2                0               0  ...     149.0       1.0  999.0       0.0
3                0               0  ...     226.0       1.0  999.0       0.0
4                0               0  ...     151.0       1.0  999.0       0.0
5                0               0  ...     307.0       1.0  999.0       0.0
...            ...             ...  ...       ...       ...    ...       ...
41184            0               0  ...     334.0       1.0  999.0       0.0
41185            0               0  ...     383.0       1.0  999.0       0.0
41186            0               0  ...     189.0       2.0  999.0       0.0
41187            0               1  ...     442.0       1.0  999.0       0.0
41188            0               0  ...     239.0       3.0  999.0       1.0

       emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed  \
1               1.1          93.994          -36.4      4.857       5191.0
2               1.1          93.994          -36.4      4.857       5191.0
3               1.1          93.994          -36.4      4.857       5191.0
4               1.1          93.994          -36.4      4.857       5191.0
5               1.1          93.994          -36.4      4.857       5191.0
...             ...             ...            ...        ...          ...
41184          -1.1          94.767          -50.8      1.028       4963.6
41185          -1.1          94.767          -50.8      1.028       4963.6
41186          -1.1          94.767          -50.8      1.028       4963.6
41187          -1.1          94.767          -50.8      1.028       4963.6
41188          -1.1          94.767          -50.8      1.028       4963.6

       term deposit subscription
1                              0
2                              0
3                              0
4                              0
5                              0
...                          ...
41184                          1
41185                          0
41186                          0
41187                          1
41188                          0

[41188 rows x 64 columns]

In [7]:
#Split data into attributes and target variable
X_dummy = dummy.iloc[:,:-1]
y_dummy = dummy.iloc[:,-1]

In [8]:
#Oversampling
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

print('Original dataset shape %s' % Counter(y_dummy))

ros = RandomOverSampler(random_state=42) 
X_oversampled, y_oversampled = ros.fit_resample(X_dummy, y_dummy)

print('Resampled dataset shape %s' % Counter(y_oversampled))

Original dataset shape Counter({0: 36548, 1: 4640})
Resampled dataset shape Counter({0: 36548, 1: 36548})

In [10]:
#Combine attributes and target variable together after oversampling
final_dummy = pd.concat([X_oversampled, y_oversampled], axis = 1)
print(final_dummy)

       job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  \
0               0                0                 0              1
1               0                0                 0              0
2               0                0                 0              0
3               1                0                 0              0
4               0                0                 0              0
...           ...              ...               ...            ...
73091           0                1                 0              0
73092           0                1                 0              0
73093           0                1                 0              0
73094           1                0                 0              0
73095           0                0                 0              0

       job_management  job_retired  job_self-employed  job_services  \
0                   0            0                  0             0
1                   0            0                  0             1
2                   0            0                  0             1
3                   0            0                  0             0
4                   0            0                  0             1
...               ...          ...                ...           ...
73091               0            0                  0             0
73092               0            0                  0             0
73093               0            0                  0             0
73094               0            0                  0             0
73095               0            1                  0             0

       job_student  job_technician  ...  duration  campaign  pdays  previous  \
0                0               0  ...     261.0       1.0  999.0       0.0
1                0               0  ...     149.0       1.0  999.0       0.0
2                0               0  ...     226.0       1.0  999.0       0.0
3                0               0  ...     151.0       1.0  999.0       0.0
4                0               0  ...     307.0       1.0  999.0       0.0
...            ...             ...  ...       ...       ...    ...       ...
73091            0               0  ...     459.0       1.0  999.0       0.0
73092            0               0  ...     904.0       1.0  999.0       0.0
73093            0               0  ...     191.0       1.0  999.0       1.0
73094            0               0  ...     482.0       2.0  999.0       0.0
73095            0               0  ...     213.0       3.0    6.0       4.0

       emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed  \
0               1.1          93.994          -36.4      4.857       5191.0
1               1.1          93.994          -36.4      4.857       5191.0
2               1.1          93.994          -36.4      4.857       5191.0
3               1.1          93.994          -36.4      4.857       5191.0
4               1.1          93.994          -36.4      4.857       5191.0
...             ...             ...            ...        ...          ...
73091          -1.8          92.893          -46.2      1.281       5099.1
73092          -1.8          93.369          -34.8      0.655       5008.7
73093          -1.8          92.893          -46.2      1.266       5099.1
73094          -1.8          93.075          -47.1      1.365       5099.1
73095          -1.8          93.369          -34.8      0.649       5008.7

       term deposit subscription
0                              0
1                              0
2                              0
3                              0
4                              0
...                          ...
73091                          1
73092                          1
73093                          1
73094                          1
73095                          1

[73096 rows x 64 columns]

In [12]:
#Export the modified dataset into a csv file
final_dummy.to_csv('final.csv')